<app-app-header [title]="'Sender Details'"></app-app-header>
<div class="container-fluid">
  <form [formGroup]="form">
    <div class="row mt-2">
      <div class="col-12">
        <label for="name" class="text-light">Name</label>
        <input formControlName="shipperName" id="name" type="text" class="form-control bg-dark"
          [ngClass]="{'is-invalid': invalidInput('shipperName')}" placeholder="Name">
        <span *ngIf="invalidInput('shipperName')" class="text-danger">Name is required</span>
      </div>

    </div>

    <div class="row mt-2">
      <label for="phone" class="text-light col-12">Phone No</label>
      <div class="col-6">
        <select formControlName="shipperPhoneCode" class="form-control bg-dark" name="phonecode" id="phonecode">
          <option *ngFor="let c of phoneCodeList" [value]="c.value">{{c.countryName}} {{c.text}}</option>
        </select>
      </div>
      <div class="col-6">
        <input id="phone" formControlName="shipperContact" type="text" class="form-control bg-dark"
          [ngClass]="{'is-invalid': invalidInput('shipperContact')}" placeholder="Phone No">
        <span *ngIf="invalidInput('shipperContact')" class="text-danger">
          <span *ngIf="form.get('shipperContact')?.hasError('required')">Phone No is required</span>
          <span *ngIf="form.get('shipperContact')?.hasError('pattern')">Phone No is invalid</span>
        </span>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <label for="email" class="text-light">Email</label>
        <input formControlName="shipperEmail" id="email" type="text" class="form-control bg-dark" placeholder="Email">
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-2">
        <label for="address1" class="text-light">Address 1</label>
        <input formControlName="shipperAddress1" id="address1" type="text" class="form-control bg-dark"
          [ngClass]="{'is-invalid': invalidInput('shipperAddress1')}" placeholder="Address 1">
        <span *ngIf="invalidInput('shipperAddress1')" class="text-danger">Address1 is required</span>
      </div>

      <div class="col-12 mt-2">
        <label for="address2" class="text-light">Address 2</label>
        <input formControlName="shipperAddress2" id="address2" type="text" class="form-control bg-dark"
          placeholder="Address 2">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6">
        <label for="postcode" class="text-light">Postcode</label>
        <input formControlName="shipperPostcode" name="postcode" id="postcode" type="text" class="form-control bg-dark"
          [ngClass]="{'is-invalid': invalidInput('shipperPostcode')}" placeholder="Postcode">
        <span *ngIf="invalidInput('shipperPostcode')" class="text-danger">Postcode is required</span>
      </div>
      <div class="col-6">
        <label for="city" class="text-light">City</label>
        <input formControlName="shipperCity" id="city" type="text" class="form-control bg-dark"
          [ngClass]="{'is-invalid': invalidInput('shipperCity')}" placeholder="City">
        <span *ngIf="invalidInput('shipperCity')" class="text-danger">City is required</span>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-6">
        <label for="state" class="text-light">State</label>
        <input formControlName="shipperState" id="state" type="text" class="form-control bg-dark"
          [ngClass]="{'is-invalid': invalidInput('shipperState')}" placeholder="State">
        <span *ngIf="invalidInput('shipperState')" class="text-danger">State is required</span>
      </div>
      <div class="col-6">
        <label for="country" class="text-light">Country</label>
        <select name="country" formControlName="shipperCountryCode" id="country" class="form-control bg-dark"
          [ngClass]="{'is-invalid': invalidInput('shipperCountryCode')}" placeholder="Country">
          <option *ngFor="let c of countries" [value]="c.value">{{c.text}}</option>
        </select>
        <span *ngIf="invalidInput('shipperCountryCode')" class="text-danger">Country is required</span>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-3"></div>
      <div class="col-6">
        <button type="button" (click)="toReceiver()" class="btn btn-warning btn-block text-uppercase">
          Next
        </button>
        <div class="col-3"></div>
      </div>
    </div>
  </form>
</div>
