<div class="container-fluid">

  <div class="card bg-dark mt-3 border-top-0 border-left-0 border-right-0 border-bottom-1 border-light">
    <div class="card-header">
      <h5 class="text-light">Completed</h5>
    </div>
  </div>

  <div class="text-center">
    <div style="margin-top: 15vh;">
      <i class="fa fa-check-circle fa-3x text-success" aria-hidden="true"></i>
    </div>
    <div class="content text-light mt-3">
      Please proceed to the counter and provide the sender's contact no.
    </div>
  </div>
</div>
