<app-app-header [title]="'Upload Proof'" [hasCard]="false"></app-app-header>
<div class="container-fluid">
  <div class="cart">
    <div *ngIf="invalidLinke" class="card-body">
      <div class="alert alert-danger">
        Invalid link provided
      </div>
    </div>
    <div *ngIf="!uploadResult.success" class="card-body">
      <div class="alert alert-danger">
        {{uploadResult.message}}
      </div>
    </div>
    <div *ngIf="!invalidLinke" class="cart-body">
      <div class="mt-2"></div>
      <div class="row mt-3">
       <div class="col-12">
         <label class="text-light" for="manifestid">Manifest No:</label></div>
        <div class="col-12">
          <h3 class="text-light">{{id}}</h3>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-center">
          <input (change)="handleFileInput($event)" accept="image/*" capture="camera" type="file" class="file-input">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-2"></div>
        <div class="col-8">
          <button class="btn btn-warning btn-block" (click)="upload()">
            Upoad <i class="fa fa-cloud-upload fa-lg" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
</div>
