<app-app-header [title]="'Courier Options'"></app-app-header>
<div class="container-fluid">

  <div class="list mt-1">
    <ul class="list-group list-group-flush" *ngIf="courierServiceList.length > 0">
      <li *ngFor="let o of courierServiceList; let i = index" (click)="selectedCourier(o)" class="list-group-item bg-dark text-light" [ngClass]="_selectedCourier==o.businessId?'border border-warning rounded':''">
        <div class="row">
          <div class="col-8">
            <picture class="business-avater-logo">
              <source [srcset]="businessLogo(o.businessLogo)" type="image/svg+xml">
              <img [src]="businessLogo(o.businessLogo)" class="img-fluid img-thumbnail business-avater-logo" [alt]="o.businessName">
            </picture>
            <strong class="ml-2">{{o.businessName}}</strong>
          </div>
          <div class="col-4">
            <span class="float-right mt-2">{{o.amount | currency:"RM "}}</span>
          </div>
        </div>
      </li>
    </ul>
    <div *ngIf="courierServiceList.length < 1" class="text-light text-center mt-3">
      No courier options available for the addresses provided.
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-3"></div>
    <div class="col-6">
      <button *ngIf="courierServiceList.length > 0" type="button" (click)="confrim()" class="btn btn-warning btn-sm btn-block text-uppercase">
        Confirm
      </button>

      <button type="button" (click)="toParceDetails()" class="btn btn-outline-warning mt-2 btn-sm btn-block text-uppercase">
        Back
      </button>
    </div>
    <div class="col-3"></div>
  </div>

</div>
