<div class="container-fluid">
  <div class="card bg-dark mt-3 border-top-0 border-left-0 border-right-0 border-bottom-1 border-light">
    <div class="card-header">
      <button [disabled]="invalidForm" (click)="confrim()" class="btn btn-outline-light btn-sm float-right ml-2">
       Confirm
       <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
      </button>
      <button (click)="toParceDetails()" class="btn btn-outline-light btn-sm float-right">
        <i class="fa fa-arrow-circle-left fa-lg" aria-hidden="true"></i>
      </button>
      <h5 class="text-light">Courier Services</h5>
    </div>
  </div>

  <div class="list mt-1">
    <ul class="list-group list-group-flush">
      <li *ngFor="let o of courierServiceList" (click)="selectedCourier(o)" class="list-group-item bg-dark text-light" [ngClass]="_selectedCourier==o.businessId?'border border-light rounded':''">
        <div class="row">
          <div class="col-3">
            <img style="height: 35px;" [src]="o.businessLogo" class="rounded" alt="Cinque Terre">
          </div>
          <div class="col-5">
            {{o.businessName}}
          </div>
          <div class="col-4">
            <span class="float-right">{{o.amount | currency:"RM "}}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
