<app-app-header [title]="'Upload Proof'"></app-app-header>
<div class="container-fluid">
  <div class="cart">
    <!-- <div class="cart-header">Upload Proof</div> -->
    <div class="cart-body">
      <div class="row mt-3">
        <div class="col-12 text-center">
          <input (change)="handleFileInput($event)" type="file" style="min-width: 100%; border: 1px solid white; border-radius: 5px; padding: 5px;">
        </div>
        <div class="col-12 mt-2 text-center">
          <button class="btn btn-success" (click)="upload()">
            Upoad <i class="fa fa-cloud-upload" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
