<nav class="navbar navbar-light border border-left-0 border-top-0 border-right-0">
  <a class="navbar-brand text-light border-light d-flex" href="#/nearu/sender">
    <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <div class="m-auto">
    <h6 class="text-light mt-2 mr-5 text-uppercase">{{title}}</h6>
  </div>
  <div class="parcel-cart" (click)="viewCart()">
    <span class="text-light custom-badge" style="font-size: 10px">
      {{cartCount}}
    </span>
    <i class="fa fa-shopping-cart fa-lg text-warning mt-1"></i>
  </div>
</nav>
