@import "~styles.scss";
body{
  font-family: 'font-family: 'Open Sans', sans-serif;' !important;
}
.business-avater-logo{
  max-width: 60px !important;
  height: 55px !important;
  /* max-width: 45px; */
}
